<section class="principal">
    <h1 class="título">Prueba Premium gratis 3 meses</h1>
    <p class="subtítulo">Escucha millones de canciones sin anuncios, a la carta y sin conexión.</p>
    <a class="botón" href="#">VER PLANES</a>
    <h6 class="condiciones">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</h6>
</section>
<section class="premium">
    <article>
        <h2 class="titular">¿Por qué pasarte a Premium?</h2>
    </article>
    <article>
            <img class="images" src="images/Descarga_música.png" alt="Descargar música">
            <h4 class="descarga">Descarga música.</h4>
            <h5 class="sub">Llévala siempre contigo.</h5>
    </article>
    <article>
            <img class="images" src="images/Sin_anuncios.png" alt="Sin anuncios">
            <h4 class="anuncios">Sin anuncios.</h4>
            <h5 class="sub">Disfruta de música sin interrupciones.</h5>
    </article>
    <article> 
            <img class="images" src="images/Escucha_lo_que_quieras.png" alt="Escucha lo que quieras">
            <h4 class="escucha">Escucha lo que quieras.</h4>
            <h5 class="sub">Incluso en el móvil.</h5>
    </article>
    <article>
            <img class="images" src="images/Salta_todas_las_canciones_que_quieras.png" alt="Salta todas las canciones">
            <h4 class="salta">Salta todas las canciones que quieras.</h4>
            <h5 class="sub">Simplemente dale a siguiente.</h5>
    </article>
</section>